name: Tests

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5 
        with:
          python-version: "3.11.4"
      - name: Load cached Poetry install
        uses: actions/cache@v4
        id: cached-poetry
        with: 
          path: ~/.local
          key: poetry-0
      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Update torch's source to use CPU
        run: |
            # use cpu source for torch
            poetry source add torch-cpu --priority=explicit --no-interaction https://download.pytorch.org/whl/cpu
            torch_version=$(poetry show torch --no-ansi | grep 'version' | awk '{print $3}')
            poetry add --lock --no-interaction --source torch-cpu "torch@$torch_version"
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
            poetry install --no-interaction --with test,dev
      - name: Ruff Formatting
        run: poetry run ruff format --check
      - name: Ruff Linter
        run: poetry run ruff check
      - name: Mypy
        run: |
          poetry run mypy --install-types --non-interactive .
      - name: Pytest
        run: |
          poetry run pytest tests/
